<header>
    <div class="container navbar">
        <div class="logo">
            <a href="index.html"><img src="images/logo-white.png" alt="XOCLASS Logo"></a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="values.html">Our Values</a></li>
                <li><a href="commitment.html">Commitment</a></li>
            </ul>
        </nav>
    </div>
</header>
